* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/clouds.png);
    font-family: "Cabin", Arial, Geneva, sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav {
    background: url(../img/scallop.png) repeat-x;
}

nav ul {
    display: flex;
    flex: 0 0 100%;
    border-bottom: 3px solid #cc8850;
    background-color: #e6bf98;
    padding: 0.75em;
    margin: 12px 0 0 0;
}

nav ul li {
    padding: 0 0.5em 0 1.5em;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #c80060;
}

nav a:hover {
    color: #00c4c7;
}

.heading {
    background: url(../img/header-1200.jpg) no-repeat;
    height: 183px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Niconne', cursive;
    font-weight: normal;
    color: #C80060;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

.mainHeader {
    border-bottom: 2px dotted #c80060;
}

.mainContainer {
    flex: 0 0 92%;
    margin-left: 4%;
    margin-right: 0;
}

div.row {
    background-color: #fff6e0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.col-1-4 {
    flex: 0 0 20%
}

.col-4 {
    flex: 0 0 92%
}

[class *= "col-"] {
    margin-left: 4%;
    margin-right: 0;
}

blockquote {
    padding: 0;
    margin: 0;
}

blockquote p {
    padding: 0 1em;
}

blockquote cite {
    padding: 0 1em 1em;
    text-transform: uppercase;
    font-style: normal;
    display: block;
}

.button {
    background-color: #c80060;
    color: white;
    padding: 0.3em 1em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    border: 2px solid #c80060;
}

article img {
    border-radius: 10px;
}

.responsive {
    max-width: 250px;
    width: 100%;
}

footer {
    background-color: #00CDD1;
    color: white;
    clear: both;
    margin: 0 0.5em 3em 0.5em;
}

footer p {
    text-align: center;
}

footer img {
    width: 52px;
}

p a {
    text-decoration: none;
    color: white;
}

@media (min-width: 550px) {
    .wrapper {
        max-width: 767px;
        width: 97%;
    }

    .div.row {
        padding: 0 2em;
    }

    .heading {
        background: url(../img/header-850.jpg) no-repeat;
        height: 130px;
    }

    nav li,
    nav li:nth-child(even),
    nav li:nth-child(odd) {
        display: inline-block;
        float: none;
        width: auto;
        padding: 0;
    }

    nav a {
        padding: 0 1em 0 1em;
    }

    [class *= "col-"] {
        margin-left: 4%;
        margin-right: 0;
    }

    .col-1-4 {
        flex: 0 0 44%
    }

    .col-4 {
        flex: 0 0 92%
    }
}

@media (min-width: 850px) {
    .wrapper {
        max-width: 1200px;
        width: 97%;
    }

    .div.row {
        padding: 0 2em;
    }

    .heading {
        background: url(../img/header-1200.jpg) no-repeat;
        height: 183px;
    }

    nav li,
    nav li:nth-child(even),
    nav li:nth-child(odd) {
        display: inline-block;
        float: none;
        width: auto;
        padding: 0;
    }

    nav a {
        padding: 0 1em 0 1em;
    }

    [class *= "col-"] {
        margin-left: 4%;
        margin-right: 0;
    }

    .col-1-4 {
        flex: 0 0 20%
    }

    .col-4 {
        flex: 0 0 92%
    }
}
